<div class="my-profile">
<h1>{{username}}'s profile</h1>
   <form #ProfileForm="ngForm">
        <div class="flex">
            <p>Username: </p>
            <p>{{username}}</p>       
        </div> 
        <div class="flex">
            <p>Email: </p>
            <p>{{email}}</p>       
        </div>   
        <div class="flex">
            <p>Telephone: </p>
            <p>{{telephone}}</p>       
        </div> 
        <button type="button" routerLink="/loads" class="green">Back</button>   
    </form>
</div>