<div class="row space-top">
    <div class="col-md-12">
        <h1>Register User</h1>
        <p>Please fill all fields.</p>
    </div>
</div>
<form [formGroup]="form" class="register" action="" method="post" (ngSubmit)="register()">
    <div class="row">
        <div class="form-group">
            <label class="form-control-label" for="username">Username</label>
            <input #username="" ngModel class="form-control" id="username" type="text" name="username" placeholder="John Smith" formControlName="username">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="email">Email</label>
            <input class="form-control" id="email" type="email" name="email" placeholder="peter@gmail.com" formControlName="email">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="telephone">Telephone</label>
            <input class="form-control" id="telephone" type="text" name="telephone" placeholder="+359-111-111" formControlName="telephone">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="password">Password</label>
            <input class="form-control" id="password" type="password" name="password" placeholder="******" formControlName="password">
        </div>
        <div class="form-group">
            <label class="form-control-label" for="password">Repeat password</label>
            <input class="form-control" id="rePass" type="password" name="rePass" placeholder="******" formControlName="rePass">
        </div> 
        <button class="btn btn-primary" type="button" (click)="clearForm()">Clear</button>          
        <button [disabled]="form.invalid" class="btn btn-primary">Register</button>    
    </div>
</form>
<div>
    <p>If you have account go to :>>> <a routerLink="/login">login</a></p>    
</div>
