<p>truck-details-page works!</p>
<div class="truck-details" >*ngIf="!!truck"
    <h1>Truck's details</h1>
       <form #TruckDetailsForm="ngForm">
            <div class="flex">
                <p>Loading: </p>       
                <p>{{truck?.loading}}</p>
            </div> 
            <div class="flex">
                <p>Unloading:  </p>
                <p>{{truck?.unloading}}</p>       
            </div>   
            <div class="flex">
                <p>tons: </p>
                <p>{{truck?.tons}}</p>       
            </div> 
            <div class="flex">
                <p>Price: </p>
                <p>{{truck?.price}}</p>       
            </div> 
            <div class="flex">
                <p>Starting from:  </p>
                <p>{{truck?.startingFrom}}</p>       
            </div> 
            <div *ngIf="(isLogged)" class="offer-comment">
                <p><span>Your</span> offer:</p>
                <div class="answer"> 
                    <textarea name="offerText" id="offerText" cols="30" rows="10"></textarea>     
                </div>
            </div>
            <button type="button" class="green">Offer</button> 
            <button type="button" routerLink="/trucks" class="green-back">Back</button>   
        </form>
    </div>