<header>
<div class="nav-bar">
    <div class="logo">
        <span class="glyphicon glyphicon-road"></span>
        <span class="logo">ng-13 CarGo</span>
    </div>
    <div class="navbar" *ngIf="!isLogged">
        <ul>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
        </ul>
    </div>
    <div class="navbar" *ngIf="isLogged">
        <ul>
            <li>
                <a routerLink="/profile">Hello, {{username}}</a>
            </li>
            <li> 
            <a  (click)="logout()">Logout</a>
            </li>  
        </ul>
    </div>
</div>
<nav>
    <ul>
        <li>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/loads">Loads</a>
        </li>
        <li *ngIf="isLogged">
            <a routerLink="/loads/new"> New Load</a>
        </li>
        <li>
            <a routerLink="/trucks"> Trucks</a>
        </li>
        <li *ngIf="isLogged">
            <a routerLink="/trucks/new">New Truck</a>
        </li>
    </ul>
</nav>
</header>