<div class="truck-container"> 
    <h2>Transport Offers  <span class="glyphicon glyphicon-bed"></span></h2>
    <div class="trucks-header" *ngIf="truckList">
      
        <div>
          <div class="flex">
            <p>Loading</p>
            <p>Unoading</p> 
            <p>Tons</p>
            <p> </p>      
        </div>   
      </div >
      <div >
        <app-truck-list-item *ngFor="let truck of truckList" [truck]="truck"></app-truck-list-item>
      </div>
    </div>   
  </div>   

<div *ngIf="!truckList">
  Loading...
</div>