:host {
    display: flex;
    justify-content: space-around;
  }
.container {
  width: 1000pt;
}
h1 {
    color: rgb(218, 186, 8);
    position: absolute;
}

h2 {
    color: rgb(66, 124, 32);
    position: absolute;
    bottom: 800px;
}

div {
    color: rgb(44, 109, 3);
    position: absolute;
    bottom: 580pt;  
}  
 
aside {
  width: 24%;
  margin-top: 27em;
  font-size: 0.4em;
}

span {
    color: rgb(7, 189, 16);
    text-transform: capitalize;
}


