:host {
    display: flex;
    justify-content: space-around;
  }
  
main {
  width: 30%;
}
  
aside {
  width: 30%;
  margin-top: 27em;
  font-size: 0.8em;
}
h1 {
    color: rgb(218, 186, 8);
}

h2 {
    color: rgb(66, 124, 32);;
}

div {
    color: rgb(23, 54, 4);
}

span {
    color: rgb(7, 189, 16);
    text-transform: capitalize;
}


