  <div class="load-container"> 
    <h2>Freight Offers <span class="glyphicon glyphicon-oil"></span></h2>
    <div class="loads-header" *ngIf="loadList">
      
        <div>
          <div class="flex">
            <p>Loading</p>
            <p>Unoading</p> 
            <p>Tons</p>
            <p> </p>      
        </div>   
      </div >
      <div >
        <app-load-list-item *ngFor="let load of loadList" [load]="load"></app-load-list-item>
      </div>
    </div>   
  </div>   

<div *ngIf="!loadList">
  Loading...
</div>