<div class="details" *ngIf="!!load">
    <h1>Load's details</h1>
       <form #DetailsForm="ngForm">
            <div class="flex">
                <p>Loading: </p>       
                <p>{{load?.loading}}</p>
            </div> 
            <div class="flex">
                <p>Unloading:  </p>
                <p>{{load?.unloading}}</p>       
            </div>   
            <div class="flex">
                <p>tons: </p>
                <p>{{load?.tons}}</p>       
            </div> 
            <div class="flex">
                <p>Price: </p>
                <p>${{load?.price}}</p>       
            </div> 
            <div class="flex">
                <p>Starting from:  </p>
                <p>{{load?.startingFrom}}</p>       
            </div> 
            <div *ngIf="(isLogged)" class="offer-comment">
                <p><span>Your</span> offer:</p>
                <div class="answer"> 
                    <textarea name="offerText" id="offerText" cols="40" rows="5"></textarea>     
                </div>
            </div>
            <button type="button" class="green">Offer</button> 
            <button type="button" routerLink="/loads" class="green-back">Back</button>   
        </form>
    </div>